.CF {
    height: 80vh;
}

.CF h1 {
    margin: 0;
    padding: 7% 0 3% 0;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.diffForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ChooseBtn {
    display: flex;
    flex-direction: row;
} 

.ChooseBtn button {
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: var(--main-color);
    border: none;
    margin: 0 10px;
    border-radius: 20px;
    font-size: 130%;
    color: white;
    width: 150px;
    height: 50px;
    font-weight: 500;
    transition: .3s;
    box-shadow: 1px 1px 5px rgba(0, 73, 125, 0.35);
}

.ChooseBtn button:hover {
    background-color: var(--light-color);
}